@model DTOProduct
@{
    ViewBag.PageTitle = "ProductMangement";
    ViewBag.CardTitle = "Create Product";
}
<div class="row">
    <div class="col-lg-6">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description"></label>
                <textarea id="textarea" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>

            </div>

            <div class="mb-3">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>

            </div>

            <div class="mb-3">
                <label asp-for="Img"></label>
                <input type="file" name="file" id="imgFile" class="form-control" onchange="Fillimg(event)" />

            </div>

            <div class="mb-3">
                <label asp-for="CategoryId"> Category</label>
                <select asp-for="CategoryId" class="form-control" asp-items="Model.CategoryList">
                    <option disabled selected> -- Select --</option>
                </select>
            </div>

            <div>
                <button type="submit" class="btn btn-primary"> Create</button>
                <a asp-action="Index" asp-controller="Category" class="btn btn-warning">BackToList</a>

            </div>
        </form>
    </div>
    <div class="col-lg-6">
        <div class="container">
            <img id="imgHt" src="~/@Model.Img" width="300" height="300" />
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial">

        <script>
            tinymce.init({
                selector: '#textarea',
                plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                tinycomments_mode: 'embedded',
                tinycomments_author: 'Author name',
                mergetags_list: [
                    { value: 'First.Name', title: 'First Name' },
                    { value: 'Email', title: 'Email' },
                ],
                ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
            });
        </script>
        <script>
            var Fillimg = function (event) {
                var imgholder = document.getElementById("imgHt");
                imgholder.src = URL.createObjectURL(event.target.files[0]);
            }

        </script>
}
