<section class="vh-100">
<div class="container m-10 h-custom">
        <div class="  d-flex flex-column justify-content-center align-items-center h-80">

            <h2 class="m-6 text-center col-lg-6"> Your Order Has been approved We Will Contact You soon </h2>
            <a href="/Customer/Home/Index" class="btn btn-primary text-center col-lg-6 m-4"> Back To Home</a>
</div>
</div>
</section>